.inside-content{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.create-cause-page{
  width: 60%;
  display: flex;
  justify-content: center;
  margin:30px 0px;
}

.form-details form{
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.dash h1, .dash h2, .dash h3 {
  text-align: center;
  font-family: Arial, sans-serif; /* Change the font family as needed */
  font-weight: 600;
}

.repairs-card {
  width: 1000px;
  text-align: center;
  margin-left: 200px; /* Center horizontally */
  margin-right: auto;
  margin-top: 50px;
}


.right {
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.full-page-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it's on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 42em) {
  .right {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
  }
}