.dash{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: 600;
  justify-content: space-between;
}


.categoryimage {
  margin-top: 100px;
  margin-left: 30px;
  display: flex;
  position: fixed;
  width: 500px;
  height: 100%;
}

.imagestyle {
  width: 350px;
  height: 250px;
}

.data {
  margin-left: 600px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  padding: 20px;
}

.repairs-card {
  display: flex;
  width: 600px;
  text-align: left;
  margin-left: 50px; /* Center horizontally */
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}


.full-page-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it's on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

