<h1 mat-dialog-title>Select Information</h1>
<mat-dialog-content>
  <div *ngIf="infoData && infoData.length > 0">
    <mat-radio-group [(ngModel)]="selectedItem">
      <mat-radio-button *ngFor="let item of infoData" [value]="item">
        {{ item.name }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="infoData?.length === 0">No information available.</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" [disabled]="!selectedItem">Select</button>
</mat-dialog-actions>
