.main-content {
  display: flex;
  
}

.right {
  margin-top: 80px;
  width: 100%;
  display: block;
  align-items: start;
  justify-content: start;
}

/* @media (min-width: 42px) {
  .right {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
  }
} */