<div class="main-content">

  <div class="left">
    <!-- <app-sidebar [sidebarItems]="[
  { label: 'Airframe', iconClass: 'fa-solid fa-plane' },
  { label: 'Engine', iconClass: 'fa-solid fa-gears' },
  { label: 'Avionics', iconClass: 'fa-solid fa-satellite-dish' },
  { label: 'Interior', iconClass: 'fa-solid fa-tv' }
]"></app-sidebar> -->
    <app-sidebar></app-sidebar>
  </div>

  <div class="right">
    <div>
      <!-- <canvas id="MyChart"></canvas> -->
      <img src="assets/1.jpg" style="margin-left: 300px;">
      <app-repairsdash></app-repairsdash>
    </div>    
  </div>

</div>