/* Styles for the inside content */
.inside-content {
  margin-top: 70px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* Styles for the create repairs page */
.create-repairs-page {
  display: flex;
  justify-content: center;
  margin: 0px;
}

/* Styles for the form details */
.form-details form {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}

/* Styles for the right section */
.right-section {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 150vh;
  background: radial-gradient(993px at 0.5% 98.5%, rgb(213, 220, 220) 0%, rgb(184, 187, 187) 46.7%, rgb(255, 255, 255) 100.2%);
  position: absolute;
  top: 0;
  right: -300px;
  transition: right 0.5s ease;
  overflow-y: scroll;
}

.repairs-card-create {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border: 3px;
  border-color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 6px;
  color: #000000;
  margin-top: 20px;
}

.right-section h1 {
  color: rgb(0, 0, 0);
  margin-top: 350px;
  font-weight: 400;
  text-align: center;
}