.dash{
  text-align: center;
  font-family: Arial, sans-serif; /* Change the font family as needed */
  font-weight: 600;
}

.dash h1, .dash h2, .dash h3 {
  text-align: center;
  font-family: Arial, sans-serif; /* Change the font family as needed */
  font-weight: 600;
  color: rgb(18, 16, 113);
}

.repairs-card {
  width: 1000px;
  text-align: left;
  margin-left: 200px; /* Center horizontally */
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
