
<nav class="navbar">
  <div class="navbar-container container">
    <input type="checkbox" name="" id="">
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu-items">
      <li *ngFor="let item of navitems">
        <a [routerLink]="[item.route]">
          <i [class]="item.iconClass"></i><em>{{ item.label }}</em>
        </a>
      </li>
    </ul>
    <h1 class="logo">HangarBay</h1>
    <ul class="menu-items">
      <li>
        <button (click)="logout()" style="height: 38px; width: 74px; border-radius: 50%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 800;">Logout</button>
      </li>
    </ul>
  </div>
</nav>



